* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    letter-spacing: -0.39px;
    color: #000000;
    font-size: 16px;
}

#tela-toda {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-x: hidden;
}

#container-procurar {
    width: 328px;
    height: 56px;
    border-radius: 2px;
    border: solid 1px #b8b8b8;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin: 8px 16px;
}

#placeholder-buscar {
    width: 263.6px;
    height: 18px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: #d0d0d0;
}

#icone-procurar {
    margin: 16px 17px;
}

#lista-restaurantes {
    margin-bottom: 8vh;
}
